<header class="header">

  <nav class="navbar">

    <div class="logo">
      <img src="imagens/logo aui branca.png" alt="Logo Agência UNEB de Inovação">
    </div>

    <ul class="nav-links">
      <li><a href="#destaques">Sobre</a></li>
      <li><a href="#categorias">Tipos de PI</a></li>
      <li><a href="ativos-pi.html">Ativos de PI</a></li>
      <li><a href="#transferencia">Transferência</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>

    <!-- Menu Mobile -->
    <div class="menu-toggle" id="menu-toggle">
      ☰
    </div>

  </nav>
</header>